:root {
    --font-family: Consolas, monospace;
    --font-size: 18pt;
    --fg-color: #14fdceff;
    --edge-color: #14fdce2d;
    --bg-color: #031e11ff;
}

* {
    box-sizing: border-box;
    text-shadow: 2px;
}

::-moz-selection {
    background-color: var(--fg-color);
    color: var(--bg-color);
}
::selection {
    background-color: var(--fg-color);
    color: var(--bg-color);
}

.position {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 60%;
}

body {
    background-color: black;
    color: var(--fg-color);
    font-family: var(--font-family);
    font-size: 18pt;
    padding: 1rem;
}
header {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1 {
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

footer {
    margin-top: 1rem;
}
nav {
    pointer-events: all;
    display: block;
    margin: 1rem;
    margin-left: 0;
}
nav > a {
    color: var(--fg-color);
    text-decoration: none;
    border: 1px solid var(--fg-color);
    background-color: transparent;
    padding: 0.5rem;
}
nav > a:visited, nav > a:active {
    color: var(--fg-color);
}
nav > a:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
}
nav > a.current-menu-item {
    text-decoration: underline;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

a {
    color: var(--fg-color);
    background-color: transparent;
}
a:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
}

strong {
    font-weight: bold;
}

img {
    display: block;
    margin: 1em;
    border: 1px solid;
    border-color: var(--fg-color);
    filter: sepia(100%) hue-rotate(120deg) saturate(200%);
    position: relative;
}

code {
    color: var(--bg-color);
    background-color: var(--fg-color);
    background-opacity: 50%;
}

code::-moz-selection {
    background-color: var(--bg-color);
    color: var(--fg-color);
}
code::selection {
    background-color: var(--bg-color);
    color: var(--fg-color);
}

blockquote {
    margin: 1em;
    border: 1px solid var(--fg-color);
    padding: 1em;
    padding-bottom: 0;
}

h2,h3 {
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
h2::before {
    content: '==[ ';
}
h2::after {
    content: ' ]==';
}

h3::before {
    content: '=> ';
}

ul {
    margin: 1em;
}
li {
    line-height: 1.1em;
}
li::before {
    content: '> ';
}

em {
    font-style: oblique;
}
/*
em::before {
    font-size: 0.5em;
    content: '*';
}
em::after {
    font-size: 0.5em;
    content: '*';
}
*/

.bezel {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    background-color: transparent;
    pointer-events: none;

    border-radius: 3rem;
    border: 1rem solid;
    border-bottom-color: #121212;
    border-left-color: #080808;
    border-right-color: #080808;
    border-top-color: #020202;

    box-shadow:
    inset 0 0 18rem black,
    inset 0 0 3rem black,
    0 0 10rem black;
}
.screen {
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 2rem;
}
.banner {
    font-size: calc(var(--font-size) / 2);
}
.output {
    background-color: var(--bg-color);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 3rem 2rem;
    text-shadow: 0rem 0.2rem 1rem lighten(var(--bg-color),20%);
    z-index: -1;
    background: radial-gradient(
        var(--bg-color) 0%,
        var(--edge-color) 100%
    );
    pointer-events: all;
    scrollbar-color: var(--fg-color) var(--bg-color);
}
.scanlines {
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0),
        rgba(255,255,255,0) 50%,
        rgba(0,0,0,0.1) 70%,
        rgba(0,0,0,0.25)
      );
      background-size: 100% 0.33rem;
      border-radius: 2rem;
      position: absolute;
      pointer-events: none;
      z-index: 5;
}


.blinky {
    animation: blinker .5s linear infinite;
}
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
